<!DOCTYPE html>
<html>
<head>
  <title>Test CMS</title>

</head>
<body>
	<div id="header">
		<p>This is header</p>
	</div>
	<div id="main">
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<p>This is footer</p>
	</div>
</body>
</html>
